body {
    font-family: Arial, sans-serif;
    background-image: url('../img/profile/landpage.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    height: 100vh;
  }
  