body {
    font-family: Arial, sans-serif;
    background-image: url('../img/profile/landpage.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-attachment: scroll;
  }
  