  <aside class="bg-white">
      <div class="container text-center" style="  display: flex; justify-content: center;">
          <div class="call-to-action">
            <a href="https://pay.hotmart.com/F76815503F">
              <img src="img/profile/mine-me.png" class="img-responsive"  alt="Imagem de Eudenia junto ao banner com o preço, de 87,00 Reais, e condições especiais para o investimento no curso">
            </a>
              <br>
              <a href="https://pay.hotmart.com/F76815503F" class="btn btn-default btn-xl wow tada" style="background-color: #008000; color: aliceblue;" target="_blank">REVOLUCIONE SUA AUTOMAKE!</a>
          </div>
      </div>
      <hr>
  </aside>
