  <aside class="bg-white">
      <div class="container text-center" style="  display: flex; justify-content: center;">
          <div class="call-to-action">
              <img src="img/profile/mine-me.jpg" class="img-responsive"  alt="Imagem de Eudenia Makeup segurando um pincel">
              <hr>
              <a href="https://pay.hotmart.com/F76815503F" class="btn btn-default btn-xl wow tada" style="background-color: #008000; color: aliceblue;" target="_blank">REVOLUCIONE SUA AUTOMAKE!</a>
          </div>
      </div>
  </aside>
