<header>
    <div class="header-content">
        <div class="header-content-inner" >
            <img src="img/profile/me.jpg" class="img-responsive"  style="border-radius: 50%; margin: 5% auto; position: static;" alt="Imagem de Eudenia Makeup segurando um pincel">
            <h1>MÉTODO AUTOBEAUTY</h1>
            <hr>
            <h3 style="color: aliceblue; text-align: center; margin: 3% auto; position: static;" ><b>Você já imaginou equilibrar maquiagens incríveis com sua vida real?</b></h3>
            <p style="color: aliceblue; text-align: left; margin: 3% auto; position: static;" >Aposto que você já tentou fazer um esfumado, mas não conseguiu porque não sabe quais os produtos certos para usar, ou ficou insegura em algum momento. </p>
            <p style="color: aliceblue; text-align: left; margin: 3% auto; position: static;" >Muitas vezes aprendemos que é preciso ter inúmeros produtos e passos incansáveis para fazer uma boa maquiagem, ou simplesmente reproduzimos da internet sem respeitar nossas características. </p>
            <p style="color: aliceblue; text-align: left; margin: 3% auto; position: static;" >Lamento te dizer, mas essa não é a forma correta de aprender automaquiagem.</p>
            <p style="color: aliceblue; text-align: left; margin: 3% auto; position: static;" >Então como vou fazer uma make sem ter medo de errar?</p>
            <p style="color: aliceblue; text-align: left; margin: 3% auto; position: static;" >Agora, você pode acabar com sua insegurança e perder o medo de errar o tom da base ou do corretivo, eu criei um método exclusivo focado na praticidade e no realce da sua beleza natural.</p>
            <hr>
                <a href="https://pay.hotmart.com/F76815503F" class="btn btn-default btn-xl wow tada" style="position: static; background-color: #008000; color: aliceblue;" target="_blank">REVOLUCIONE SUA AUTOMAKE!</a>
        </div>
    </div>
</header>
