<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>REVOLUCIONE SUA AUTOMAKE</h1>
            <hr>
            <p style="color: aliceblue;">Mais autoestima e mais confiança!
                Descubra as técnicas ideais para VOCÊ de acordo com as SUAS CARACTERÍSTICAS
                Passo a passo completo em 7 etapas que vai fazer você aprender a se maquiar e maquiar outras características diferentes das suas!</p>
            <a href="https://go.hotmart.com/F76815503F" class="btn btn-primary btn-xl page-scroll" style="background-color: #008000;">REVOLUCIONE SUA AUTOMAKE!</a>
        </div>
    </div>
</header>
