<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>REVOLUCIONE SUA AUTOMAKE</h1>
            <hr>
            <p>Mais autoestima e mais confiança!
                Descubra as técnicas ideais para VOCÊ de acordo com as SUAS CARACTERÍSTICAS
                Passo a passo completo em 7 etapas que vai fazer você aprender a se maquiar e maquiar outras características diferentes das suas!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background-color: #008000;">QUERO APRENDER A REALÇAR O QUE TEM DE MELHOR EM MIM!</a>
        </div>
    </div>
</header>
