<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Na imagem um antes de depois de quando eu copiava maquiagens da internet e agora com o método auto beauty">
            </div>
            <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Na imagem destemunho de aluna junto a sua foto com o método auto beauty feita por ela mesma">
            </div>
            <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Na imagem versão maior da aluna da imagem anterior">
            </div>
            <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Na imagem outro testemunho na DM do instagram da aplicação do método">
            </div>
            <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Na imagem reforçando em 3 frases a diferença  que o método auto beauty irá fazer na sua vida! Seguraça na execução, elevação da autoestima e equilibrio">
            </div>
            <div class="col-lg-4 col-sm-6">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="Na imagem logomarca do método acompanhado da frase: Esse curso é para você!">
            </div>
        </div>
    </div>
</section>
