<section id="services" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Você irá aprender...</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-magic wow bounceIn text-primary"></i>
                    <h3>Acertar o tom da base e corretivo, além de camuflar qualquer tipo de mancha</h3>
                    <p class="text-muted">Você vai se livrar do medo de errar o tom de base e da insegurança de não conseguir camuflar acne, olheiras e melasma, além de uma preparação de pele beauty completa, prática e confortável.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Técnicas de olhos sofisticados e aplicação de cílios para seu tipo de olho</h3>
                    <p class="text-muted">Você vai conseguir identificar seu tipo de olho para aplicar as técnicas de uma forma assertiva para valorizar seu olhar de modo descomplicado. Técnicas como esfumado sofisticado cinza, esfumado rose beauty e delineado sofisticado.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Maquiagem Business Woman</h3>
                    <p class="text-muted">Técnica que eu desenvolvi para aplicar no seu dia a dia de uma forma prática e estratégica para realçar sua beleza natural sem perder muito tempo na frente do espelho e melhorar sua autoestima.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Quais os produtos deverá usar</h3>
                    <p class="text-muted">Aqui você vai acabar com a dificuldade de escolher os produtos pro seu tipo de pele!</p>
                </div>
            </div>
        </div>
    </div>
</section>
