<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Se por acaso você até hoje...</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>1. Copia tutoriais da internet sem saber o porquê</h3>
                    <p class="text-muted">Esses tutoriais não foram feitos pensando em você. Eles valorizam as características da modelo ou blogueira e não as suas. Aprenda de uma vez por todas de uma forma simples e prática!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>2. Usa a maquiagem para esconder o que te incomoda</h3>
                    <p class="text-muted">Maquiagem não é máscara! Se você entender e conhecer o seu rosto, você vai saber como valorizar suas características próprias e realçar sua beleza.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>3. Não sabe fazer uma maquiagem pro SEU rosto</h3>
                    <p class="text-muted">Quando você realmente conhece quais são seus traços você sabe exatamente o que fazer para produzir a maquiagem ideal e que mais te valorize.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Automaquiagem</h3>
                    <p class="text-muted">Eu também já cometi muitos erros na hora da automaquiagem, treinava todos os dias, comprava produtos profissionais e nada, até que eu descobri depois de muito estudo e dedicação estratégias que revolucionaram minha automaquiagem!</p>
                </div>
            </div>
        </div>
    </div>
</section>
